/*@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&family=Source+Code+Pro&family=Source+Sans+3:ital,wght@0,400;0,500;0,700;1,400;1,500&display=swap');*/

@font-face {
    font-family: "EB Garamond";
    src: url("/fonts/EBGaramond-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: 400;
    src: url("/fonts/SourceSans3-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-weight: bold;
    src: url("/fonts/SourceSans3-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Source Sans 3";
    font-style: italic;
    src: url("/fonts/SourceSans3-Italic.woff2") format("woff2");
}

@font-face {
    font-family: "Source Code Pro";
    src: url("/fonts/SourceCodePro-Regular.woff2") format("woff2");
}

:root {
    color-scheme: light dark;
}

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Source Sans 3', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: fit-content;
  color: light-dark(#4d4c44, #F0F0F0);
  background-color: light-dark(white, #1A1A1A);
}

header {
    text-align: center;
}

header h1 {
    /*font-family: 'EB Garamond', serif;/*/
    font-size: 2.5rem;
    padding-top: 0.5em;
    padding-bottom: 1em;
    margin: 0rem;
}

#TableOfContents {
    margin: auto;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 5px 0 rgba(0, 0, 0, 0.1);
    background-color: #32475b;
    position: sticky;
    top: 0;
    font-weight: bold;
    border-bottom: 10px solid #0082c6;
}

#TableOfContents ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
}

#TableOfContents li {
    list-style: none;
    display: inline-block;
    padding: 1em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

#TableOfContents a {
    text-decoration: none;
    color: white;
}

#TableOfContents a:hover {
    text-decoration: underline;
    color: white;
}

#language-switcher {
    position: fixed;
    bottom: 1em;
    left: 1em;
    margin-left: auto;
    margin-right: 1em;
    background-color: #253746;
    border: solid 1px;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 5px 0 rgba(0, 0, 0, 0.1);
}

#language-switcher a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 0.25em;
    padding-right: 0.25em;
}
.me {
    text-align: center;
}

.me img {
    margin-top: -3em;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 5px 0 rgba(0, 0, 0, 0.1);
}

.me p {
    padding-top: 1em;
}

.photo-credit {
    font-family: "Source Code Pro";
    margin-top: -2em;
    margin-bottom: -0.5em;
    font-size: 0.66em;
    text-align: center;
}

.content {
    padding: 1rem;
    margin: 0 auto;
    max-width: 34rem;
}

.content ul, .content ol {
    padding-left: 1.75em;
}


a, a:visited {
    color: light-dark(rgb(50,71,91),#0082c6);
}

a:hover {
    color: light-dark(rgb(50,71,91),#0082c6);
}

.content li {
    padding: 0.5rem;
}

code {
    font-size: 0.9rem;
    font-family: 'Source Code Pro', monospace;
}

footer {
    color: white;
    background-color: #253746;
    border-top: 2em solid #32475b;
}
footer a:hover {
    color: white;
}

.back-to-top {
    text-align: right;
    font-weight: bold;
    a, a:visited {
        padding: 0.25em;
        text-decoration: none;
    }

    a:hover {
        padding: 0.25em;
        text-decoration: underline;
    }
}

p.logo {
    text-align: center;
    background-color: white;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

.logo img {
    width: 15%;
    vertical-align: middle;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: auto;
    padding: 1.5rem;
    width: auto;
}

footer p {
    margin: auto;
    max-width: 34rem;
}

footer a, footer a:visited {
    color: white;
}

footer p {
    padding: 0.5em;
}

#uni-koeln-logo {
    text-align: center;
    height: auto;
    max-width: 20em;
    margin: 0;
}

@media all and (max-width: 32em){
    #TableOfContents {
        font-size: 0.75em;
    }
    header h1 {
        margin-bottom: -1.5em;
        font-size: 2.0rem;
    }
    .me img {
        display: none;
    }
    .photo-credit {
        display: none;
    }
    .logo img {
        width: 15%;
        vertical-align: middle;
        padding-left: 1.5%;
        padding-right: 1.5%;
    }
}
