<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name=author content="{{ .Params.Author }}">
        <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
        <link rel="stylesheet" href="/css/style.css">
        <!-- Enable responsiveness on mobile devices -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
    </head>
    <body>
        {{ .TableOfContents }}
        {{ if eq $.Site.Language.LanguageName "English" }}
        <span id="language-switcher"><a href="/de">DE</a></span>
        {{ else }}
        <span id="language-switcher"><a href="/">EN</a></span>
        {{ end }}
        {{ block "main" . }}
        {{ end }}
        <!-- This is the default footer -->
        <footer>
            {{ block "footer" . }}
            {{ end }}
        </footer>    
    </body>
</html>
