{{ range .Site.Data.bibliography.publications }}1. {{ range .author }}{{ .family }}, {{ .given }}, {{ end }} [{{ .title }}]({{ .url }}). {{ .journal }} {{ .volume }} \({{ .issued }}\) {{ if .issue }}{{ .issue}},{{ end }} {{ .page }}.{{ if .arXiv }}\
[arXiv](https://arxiv.org/abs/{{ .arXiv }}){{ end }}{{ if .mr }} | [MathSciNet](http://www.ams.org/mathscinet-getitem?mr={{ .mr }}){{ end }} {{ if .url2 }} | [PDF \(free access\)]({{ .url2 }}){{ end }}{{ if .errata }}\
_Errata:_ {{ .errata }}{{ end }}
{{ end }}{. reversed="reversed"}
